.item {
    background-color: #021F59;
    color: white;
    padding: 10px;
    border-radius: 7px;
    font-family: Sudo;
    margin-right: 10px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

